@use "mixins/_flex.scss" as flex;
@use "mixins/images" as images;
@use "variables.module.scss" as vars;

.topBar {
  background-color: black;

  .backArrow:hover {
    cursor: pointer;
  }
}

.planetDetailCover {
  @include flex.flexColumn;
  @include flex.justifyCenterAlignCenter;
  @include images.heroImg;
  // image is from alamy.com, individual license
  background: url("/images/hyperdrive.jpeg");
  color: vars.$yellow;
  text-align: center;
}

.climateTerrain {
  @include flex.flexWrap;
  border: 0.12rem solid vars.$blue;
  border-radius: 1rem;
  color: white;

  h2 {
    color: vars.$blue;
    margin: auto 0.75rem auto auto;
  }

  .imgTextWrapper {
    @include flex.flex;
    align-items: center;
    width: 100%;
    padding: 0 1rem;

    .textWrapper {
      width: 100%;
    }
  }
}

// ORBIT ANIMATION
.orbitalWrapper {
  @include flex.flexColumn;
  @include flex.justifyCenterAlignCenter;
  padding: 1rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.orbitCircle {
  position: absolute;
  left: 4.7rem;
  width: 2rem;
  height: 2rem;
  background-color: vars.$orange;
  border-radius: 100%;
}

.outerOrbit {
  width: 20rem;
  height: 20rem;
  border: 0.12rem dotted vars.$orange;
  border-radius: 100%;
  -webkit-animation: spin-right 20s linear infinite;
  animation: spin-right 20s linear infinite;
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// ROTATION ANIMATION
.sphere {
  animation: spin 8s linear infinite;
  border: 0.12rem dotted vars.$orange;
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  transform-style: preserve-3d;
}

.sphere::before,
.sphere::after {
  border: 0.12rem dashed vars.$orange;
  border-radius: 50%;
  content: "";
  height: 20rem;
  width: 20rem;
  left: 0;
  top: 0;
  position: absolute;
}

.sphere::before {
  transform: rotateY(-60deg);
}

.sphere::after {
  transform: rotateY(60deg);
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

/* MEDIA QUERIES */
@media (min-width: 568px) {
  .infoBelowPlanetName {
    @include flex.flex;
    @include flex.justifyCenterAlignCenter;

    h6 {
      padding-right: 2rem;
    }

    h6:nth-child(3) {
      padding-right: 0;
    }
  }

  .climateTerrain {
    .textWrapper {
      @include flex.flex;
      @include flex.justifyBetweenAlignCenter;

      h6:nth-child(1) {
        margin-left: 1rem;
      }

      h6:nth-child(2) {
        text-align: right;
      }
    }
    height: 100%;
  }
}

@media (max-width: 567.99px) {
  .climateTerrain {
    .textWrapper {
      @include flex.flexColumn;
      padding: 1rem;
    }
  }
}
