@use "mixins/_flex.scss" as flex;
@use "mixins/_images.scss" as images;
@use "variables.module.scss" as vars;

/* HERO */
.homeHero {
  @include flex.flexColumn;
  @include flex.justifyCenterAlignCenter;
  @include images.heroImg;
  // image is from Freepik, premium license
  background: url("/images/bkgd-galaxy.jpg");
}

.swLogo {
  max-width: 80%;
}

/* FEATURED */
.featuredPlanet {
  @include flex.flex;
  @include flex.justifyBetweenAlignCenter;
  border: 0.25rem solid vars.$blue;
  border-radius: 1rem;
  color: white;

  h5 {
    color: vars.$blue;
  }
}

.planetImg {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

/* ALL PLANETS */
.planetSearch {
  @include flex.flexColumn;
  @include flex.justifyEndAlignCenter;
  @include images.heroImg;
  // image is from wallpapers.com, by usnlady205
  background: url("/images/deathStarBattle.jpg");
  background-position: center;
}

.searchBar {
  background-color: white;
  color: vars.$galaxy;
  padding: 1rem;
  border: none;
  border-radius: 10rem;
  margin-bottom: 2rem;
}

.planetChip {
  @include flex.flex;
  @include flex.justifyEvenlyAlignCenter;
  width: 16rem;
  height: 4rem;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: vars.$orange;
  color: white;
  text-decoration: none;
}

.planetChip:hover {
  background-color: #900e0a;
  cursor: pointer;
}

.planetChipIcon {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.5rem;
}

.planetChipsWrapper {
  @include flex.flexWrap;
  @include flex.justifyCenterAlignStart;
  padding: 0.5rem;
  min-height: 20rem;
}

.moreLessBtn {
  background-color: vars.$blue;
  color: white;
  margin-top: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-family: "Oxanium";
}

.moreLessBtn:hover {
  background-color: vars.$yellow;
}

/* MEDIA QUERIES */
@media (min-width: 992px) {
  .featuredPlanet {
    height: 12rem;
  }

  .searchBar {
    width: 50%;
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

@media (max-width: 991.99px) {
  .searchBar {
    width: 80%;
  }
}
