@use "mixins/_flex.scss" as flex;
@use "mixins/_images.scss" as images;
@use "variables.module.scss" as vars;

.homeHero {
  @include flex.flexColumn;
  @include flex.justifyCenterAlignCenter;
  @include images.heroImg;
  background: url("/images/bkgd-galaxy.jpg");
}

.planetSearch {
  @include flex.flexColumn;
  @include flex.justifyEndAlignCenter;
  @include images.heroImg;
  background: url("/images/deathStarBattle.jpg");
  background-position: center;
}

.featuredPlanet {
  @include flex.flex;
  @include flex.justifyBetweenAlignCenter;
  padding: 1rem;
  margin: 1rem;
  height: 12rem;
  border: 0.25rem solid vars.$blue;
  border-radius: 1rem;
  color: white;

  h5 {
    color: vars.$blue;
  }
}

.planetImg {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.planetChip {
  @include flex.flex;
  @include flex.justifyEvenlyAlignCenter;
  width: 16rem;
  height: 4rem;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: vars.$orange;
  color: white;
  text-decoration: none;
}

.planetChip:hover {
  background-color: #900e0a;
  cursor: pointer;
}

.planetChipIcon {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.5rem;
}

.planetChipsWrapper {
  @include flex.flexWrap;
  @include flex.justifyCenterAlignCenter;
  padding: 0.5rem;
}

.searchBar {
  background-color: white;
  color: vars.$galaxy;
  width: 50%;
  padding: 1rem;
  border: none;
  border-radius: 10rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
}
