@use "mixins/_flex.scss" as flex;
@use "mixins/_images.scss" as images;
@use "variables.module.scss" as vars;

.loadingScreen,
.errorScreen {
  @include flex.flex;
  @include images.heroImg;
  background-color: vars.$galaxy;
  height: 100vh;
}

/* LOADING SCREEN */
.loadingScreen {
  @include flex.justifyStartAlignCenter;
  position: absolute;
}

@keyframes loaderSvg-animate {
  0% {
    -webkit-transform: translateX(10vw);
    -moz-transform: translateX(10vw);
    -ms-transform: translateX(10vw);
    -o-transform: translateX(10vw);
    transform: translateX(10vw);
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    -webkit-transform: translateX(60vw);
    -moz-transform: translateX(60vw);
    -ms-transform: translateX(60vw);
    -o-transform: translateX(60vw);
    transform: translateX(60vw);
  }
}

.loaderSvg {
  animation: loaderSvg-animate 2s linear infinite;
}

/* ERROR SCREEN */
.errorScreen {
  @include flex.justifyCenterAlignCenter;
  flex-direction: column;
  color: vars.$yellow;

  .errorScreenContent {
    text-align: center;
  }
}

/* MEDIA QUERIES */
@media (min-width: 992px) {
  .errorScreenContent {
    width: 50%;
  }
}

@media (max-width: 991.99px) {
  .errorScreenContent {
    padding: 2rem;
  }
}
