@use "mixins/_flex.scss" as flex;
@use "mixins/_images.scss" as images;
@use "variables.module.scss" as vars;

.loadingScreen,
.errorScreen {
  @include flex.flex;
  @include images.heroImg;
  background-color: vars.$galaxy;
  height: 100vh;
}

/* LOADING SCREEN */
.loadingScreen {
  @include flex.justifyStartAlignCenter;
  position: absolute;
}

/* 404 SCREEN */
.goHome {
  margin: 1rem;
  font-size: 1.25rem;
  color: vars.$yellow;
  text-decoration: underline;
}

.goHome:hover {
  color: vars.$orange;
}

// GALAXY BACKGROUND
#space,
.stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image: radial-gradient(
      2px 2px at 20px 30px,
      #eee,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 20px 100px, #ddd, rgba(0, 0, 0, 0)),
    radial-gradient(2.25px 2.25px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2.25px 2.25px at 40px 140px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2.5px 2.5px at 60px 120px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 80px 90px, #ddd, rgba(0, 0, 0, 0)),
    radial-gradient(2.5px 2.5px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2.5px 2.5px at 90px 140px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 120px 100px, #ddd, rgba(0, 0, 0, 0)),
    radial-gradient(2.75px 2.75px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 130px 150px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2.75px 2.75px at 150px 120px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2.25px 2.25px at 170px 76px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2.5px 2.5px at 180px 40px, #ddd, rgba(89, 84, 84, 0)),
    radial-gradient(2.25px 2.25px at 190px 100px, #ddd, rgba(0, 0, 0, 0)),
    radial-gradient(2.25px 2.25px at 200px 140px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 220px 70px, #fff, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 220px 100px;
}

// STARFIGHTER ANIMATION
@keyframes loaderSvg-animate {
  0% {
    -webkit-transform: translateX(10vw);
    -moz-transform: translateX(10vw);
    -ms-transform: translateX(10vw);
    -o-transform: translateX(10vw);
    transform: translateX(10vw);
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    -webkit-transform: translateX(60vw);
    -moz-transform: translateX(60vw);
    -ms-transform: translateX(60vw);
    -o-transform: translateX(60vw);
    transform: translateX(60vw);
  }
}

.loaderSvg {
  animation: loaderSvg-animate 2s linear infinite;
}

/* ERROR SCREEN */
.errorScreen {
  @include flex.justifyCenterAlignCenter;
  flex-direction: column;
  color: vars.$yellow;

  .errorScreenContent {
    text-align: center;
  }
}

/* MEDIA QUERIES */
@media (min-width: 992px) {
  .errorScreenContent {
    width: 50%;
  }
}

@media (max-width: 991.99px) {
  .errorScreenContent {
    padding: 2rem;
  }
}
