@import "src/app/styles/mixins/_flex.scss";
@import "src/app/styles/mixins/_typography.scss";
@import "src/app/styles/mixins/_spacing.scss";
@import "src/app/styles/variables.module.scss";

/* LAYOUT */
.body {
  @include fontSize;
  @include fontWeight;
  @include spacing;
  margin: 0;
}

.pageContent {
  padding: 1rem;
  background-color: $galaxy;
  color: $yellow;
  min-height: 100vh;
}

.spacer {
  height: 1rem;
}
