.body {
  margin: 0;
}

/* TYPOGRAPHY */
.textLg {
  font-size: 1.6rem;
}

.text-md {
  font-size: 1rem;
}

/* FLEX */

.d-flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  width: 100%;
  max-width: 100%;
}

.col {
  flex: 1 0 30%;
  padding: 1rem;
}

.flexObjectHorizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  display: block;
}

.label {
  font-weight: 600;
  margin-right: 0.15rem;
}
