/* TYPOGRAPHY */
:root {
  @media (min-width: 768px) {
    --base-font: 16;
  }
  @media (max-width: 767.99px) {
    --base-font: 14;
  }
}

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

@mixin fontSize {
  $headerTypes: h6 h5 h4 h3 h2 h1;

  @each $type in $headerTypes {
    #{$type} {
      margin: 0;
    }

    @if $type == h1 {
      #{$type} {
        font-size: clamp(2.75rem, 4vw + 0.5rem, 3.25rem);
      }
    } @else if $type == h2 {
      #{$type} {
        font-size: clamp(2.5rem, 4vw + 0.5rem, 3rem);
      }
    } @else if $type == h3 {
      #{$type} {
        font-size: clamp(2.25rem, 4vw + 0.5rem, 2.75rem);
      }
    } @else if $type == h4 {
      #{$type} {
        font-size: clamp(2rem, 4vw + 0.5rem, 2.5rem);
      }
    } @else if $type == h5 {
      #{$type} {
        font-size: clamp(1.75rem, 4vw + 0.5rem, 2.25rem);
      }
    } @else {
      #{$type} {
        font-size: clamp(1.5rem, 4vw + 0.5rem, 2rem);
      }
    }
  }

  p,
  button,
  input {
    font-size: clamp(1rem, 4vw + 0.125rem, 1.125rem);
  }

  figcaption {
    font-size: clamp(1.75rem, 4vw + 1rem, 2rem);
    font-weight: 500;
  }

  p {
    margin: 0;
  }

  .bigger {
    font-size: clamp(1.25rem, 4vw + 0.25rem, 1.5rem);
  }
}

@mixin fontWeight() {
  $weights: 300, 400, 500, 600;

  @each $weight in $weights {
    .fw-#{$weight} {
      font-weight: $weight;
    }
  }
}

.label {
  font-weight: 600;
  margin-right: 0.15rem;
}
